.intervalInput {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

/* monthpicker.css */

.monthpicker {
    display: inline-block;
    /* position: relative;
    font-size: 0.9em;
    vertical-align: middle;
    padding: 8px 15px; */
    background-color: transparent;
    /* border: 1px solid #aaa;
    border-radius: 4px;
    width: 49.4%;
    color: black;
    height: 40px; */
    /* display: none; */
}

.monthpicker_selector *::selection {
    background: transparent;
}

 .monthpicker_input {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    background-color: green;
    /* padding: 0 5px; */
    border: none;
    outline: none;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #212121;
    /* font-size: 1em;
    line-height: 1em; */
    display: none;
}
/*
.monthpicker_input .placeholder {
    color: #444;
    font-size: 1rem;
}

.monthpicker_input.active {
    background-color: #d4d4d4;
    color: #000;
} */

.monthpicker_selector {
    position: absolute;
    top: 100%;
    background-color: #fff;
    /* min-width: 250px; */
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 100;
    color: #444;
    width: 250px;
    padding: 10px 0;
    margin-top: 15px;
    /* display: block !important; */

}

.monthpicker_selector>table {
    color: #444;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    /* font-family: "Century Gothic"; */
    /* font-size: 0.9em; */
    /* border-radius: 5px; */
}

.monthpicker_selector>table tr:first-child td,
.monthpicker_selector>table tr td {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

/* .monthpicker_selector>table tr:first-child>td:nth-child(1) {
    text-align: left;
}

.monthpicker_selector>table tr:first-child>td:nth-child(2) {
    position: relative;
}

.monthpicker_selector>table tr:first-child>td:nth-child(3) {
    text-align: right;
}
 */
.monthpicker_selector>table tr:nth-child(2) td {
    width: 33%;
}

.yearSwitch {
    padding: 7px 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}


.yearSwitch.down {
    width: 40px;
    height: 40px;
    background: url('/images/calendar_prev.png') 0 0 no-repeat;
    display: inline-block;
}
.yearSwitch.up {
    width: 40px;
    height: 40px;
    background: url('/images/calendar_next.png') 0 0 no-repeat;
    display: inline-block;
}


.yearSwitch.off {
    visibility: hidden;
}

.yearValue {
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    border: none;
    color: #333;
    outline: none;
        font-size: 16px;
        font-weight: bold;
}

/* months */
.monthpicker_selector .month {
    /* border: 1px solid #007bff; */
    background-color: #fff;
   font-size: 16px;
    cursor: pointer;
    color: #000;
     font-weight: 500;
}

.monthpicker_selector .month:hover {
    background-color: #007bff;
    /* background-color: #2646ab; */
    opacity: 0.7;
    color: #fff;
}

.month.selected {
    background: #007bff;
    /* background: #2646ab; */
    color: #fff;
    font-weight: bold;
   font-size: 16px;
}
.month.ui-state-active {
    background: #007bff;
    /* background: #2646ab; */
    color: #fff;
    font-weight: bold;
   font-size: 16px;
}

.monthpicker_selector .month.off {
    color: #fff;
    /* background: red; */
    background:#787878;
    opacity: 0.65;
    cursor: not-allowed !important;
}

.monthpicker_selector .month.off:hover {
    /* background: red; */
    background:#787878;
    opacity: 0.65;
}

/* .monthpicker_selector>table tr td:first-child {
      border-left: none;
  }

  .monthpicker_selector>table tr td:last-child {
      border-right: none;
  }

  .monthpicker_selector>table tr:last-child td {
      border-bottom: none;
  } */

.z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.z-depth-5,
.modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.mtz-monthpicker-year {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.mtz-monthpicker-month {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all.mtz-monthpicker{padding: 10px;}