@charset "utf-8"; /* Reset */
:root { /* 62.5% of 16px browser font size is 10px */ /* 16px * 0.625 = 10px */ font-size: 62.5%; } 
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
*[class]:before, *[class]:after { box-sizing: border-box; } 
*[class]._hidden { overflow: hidden; white-space: nowrap; clip: rect(.0625rem, .0625rem, .0625rem, .0625rem); clip-path: inset(50%); position: absolute; width: .0625rem; height: .0625rem; margin: 0; padding: 0; border: 0; } 
* { outline: 0 !important; box-sizing: border-box; } 

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; } 
body, button, input, select, textarea { font-family: "Spoqa Han Sans Neo", sans-serif, Verdana, Arial } 

html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, menu, nav, section, article, aside, dl, dt, dd, table, thead, tbody, tfoot, label,caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption { margin: 0; padding: 0; } 

html, body { width: 100%; } 

html { display: block; width: 100%; height: 100%; -webkit-text-size-adjust: 100%; } 

body { margin: 0; height: 100%; font-size: 1.6rem; line-height: 1.5; -webkit-text-size-adjust: none; width: 100%; background: #fff; -webkit-text-size-adjust: none; word-wrap: break-word; word-break: break-all; font-family: 'Spoqa Han Sans Neo', sans-serif; font-weight: 400; color: #666; overflow-x: hidden; } 

body, select, input, a, button, footer, h3, h4, h5, h6 { line-height: 1 } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 

body, input, select, textarea, button { border: none; } 

ul, ol, li { list-style: none; } 

blockquote, q { quotes: none; } 

blockquote:after, blockquote:before, q:after, q:before { content: ""; content: none; } 

table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; background-color: #fff; width: 100%; } 

a { color: #000; text-decoration: none; cursor: pointer; } 

button { cursor: pointer; background-color: transparent; } 

.hidden { display: block !important; overflow: hidden !important; position: absolute !important; left: -625000000000000rem !important; top: -62499.9375rem !important; width: 0; height: 0; font-size: .0625rem; } 

/* reset */
button { border: 0 none; background-color: transparent; cursor: pointer; outline: none; } 

::-webkit-input-placeholder { color: #000; } 

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] { -webkit-appearance: button; border-radius: 0; } 

input[type=text], input[type=password], input[type=number], input[type=month], input[type=rang], input[type=email], input[type=url], input[type=date], input[type=datetime], input[type=tel], input[type=search], input[type=color] { display: inline-block; width: 100%; height: 4rem; line-height: 4rem; margin: 0; color: #000; text-align: left; padding: 10px 15px; vertical-align: middle; border: 0.1rem solid #CACACA; border-radius: 0.4rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; outline: none; -webkit-outline: none; } 

/* forms focus start */
.forms input[type=text]:focus, .forms select:focus { color: #00256C; font-size: 1.4rem; border-radius: 4px; border: 1px solid #00256C; } 

input:focus, select:focus, option:focus, textarea:focus, button:focus { outline: none; } 

/* forms focus end */

/* disabled */
select:disabled, input:disabled { border: 1px solid #CACACA; color: #969696 !important; -webkit-text-fill-color: rgba(150, 150, 150, 1) !important; -webkit-appearance: block; background: #F9F9F9 url(../images/icon_select_disabled.png) no-repeat center right 10px; } 