@charset "utf-8";

.sub-contentsWrap {
    background-color: transparent;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    display: flex;
    padding: 0;
    flex-flow: nowrap;
}

.fixed-sidebar-left {
    background-color: #202636;
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #3c3c4a;
}

.fixed-sidebar-right {
    /* position: fixed; */
    top: 60px;
    left: 0;
    width: calc(100% - 60px);
    bottom: 0;
    background-color: lightblue;
    margin-left: 60px;
    padding: 15px;
    /* min-width: 1080px; */
    background: #202636;
}


/* left menu */
.left-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fixed-sidebar-left .left-menu a .menu-img {
    width: 20px;
}

.btn-nav {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #3c3c4a;
}

.btn-nav a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.68);
    font-weight: 400;
    width: 58px;
    padding: 5px;
}

.btn-nav a:hover {
    background-color: #161b2f;
}

.btn-nav a.st2 {
    display: block;
    padding: 10px;
    color: #fff;
    font-weight: 400;
}

.btn-nav a.st2.on {
    color: #cb4432;
    background: #fff;
    font-weight: 700;
}

.btn-nav a.st2 p {
    position: relative;
}

.btn-nav a.st2>p::before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    left: 0;
    width: 20px;
    height: 18px;
}

.btn-nav a.st2.active>p::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 18px;
}

.btn-nav a.st2>p.ico-01::before {
    background: url('../images/icon_028.png') no-repeat center center/ 20px 18px;
}
.btn-nav .textColor {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
}

/* nav-menu hover effect */

.btn-nav .st2 {
    position: relative;
    transition: all .45s ease-Out;
}

.btn-nav:hover .st2 {
    color: #fff;
}

/* Button Ripple Effect */
.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

.ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity: 0;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-left: -80px;
}

/* 20240724 [e] */


/* ////////////// Forms - search area ////////////// */

.-search {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #202636;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.-search li {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 16px;
}

/* .label {
    margin-right: 16px;
} */
/* em {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
} */
em.entiti-tilde::after {
    content: ' \007E';
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}


.-search select {
    background: #202636 url('../images/icon_select.png') no-repeat center right 10px;
    padding: 0 20px 0 15px;
    min-width: 160px;
    height: 40px;
}

.-search .input {
    width: 250px;
}

.-search .date_picker {
    position: relative;
    margin-top: 1rem;
    height: 40px;
    line-height: 40px;
    background: #202636;
    border: 1px solid #555;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}


.-table {
    height: calc(100% - 80px - 20px);
}
.-table .table-scroll{max-height: 580px;}


/* datepicker */
.calendar {
    display: flex;
    justify-content: space-between;
}

/* .calendar input {
    width: 276px;
} */

input.input-line {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ff0000;
    border: 1px solid #555;
    background: #202636;
    border-radius: 5px;
}


input.input-line:hover,
input.input-line:focus,
input.input-line.focus {
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
}


input.input-calendar {
    background: url("../images/calendar_icon.png") no-repeat;
    z-index: 10;
    background-position: right 20px center
}

input.input-calendar:hover,
input.input-calendar:focus {
    background-position: right 19px center
}

.btn_calendar {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: -1
}

.btn_calendar a {
    width: 205px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px
}

.btn_calendar a:first-child {
    margin-right: 20px
}

.btn_calendar .btn-line02 {
    line-height: 46px
}

.btn-line02,
a.btn-line02 {
    border: 2px solid #4A418B;
    background: #fff;
    color: #4A418B;
    padding: 0 25px
}

.btn-primary,
a.btn-primary {
    background-color: #4F4694;
    color: #fff
}

.btn-primary:hover,
a.btn-primary:hover {
    background-color: #413a7a
}

/* button */
.btn-sm,
.btn-xs,
.btn-md01,
.btn-md02,
.btn-md,
.btn-lg,
.btn-xl,
.mainVsl-btn {
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

.btn-md {
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 400
}



.input-search a {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    background: url("../../static/images/search_icon02.png") no-repeat;
    z-index: 10
}
