@charset "utf-8";
/* +++++++++++++++++++++++++++++ util [s] +++++++++++++++++++++++++++++ */


/*[ width ]
///////////////////////////////////////////////////////////
*/
/* .-w100 { width: 100% !important; } */
.-w100p {
    width: 100% !important;
}

.-w95 {
    width: 95% !important;
}

.-w100-h100 {
    width: 100% !important;
    height: 100% !important;
}

.-w50 {
    width: 50px !important;
}

.-w100 {
    width: 100px !important;
}

.-w120 {
    width: 120px !important;
}

.-w160 {
    width: 160px !important;
}

.-w180 {
    width: 180px !important;
}
.-w200 {
    width: 200px !important;
}

.-w240 {
    width: 240px !important;
}


/*[ height ]
///////////////////////////////////////////////////////////
*/
.-h100 {
    height: 100% !important;
}

.-max-ht-200 {
    max-height: 200px !important;
}

.-max-ht-400 {
    overflow-y: auto;
    max-height: 400px;
}
.-ht-45 {
    height: 45px !important;
}
.-ht-140 {
    height: 140px !important;
}
.-ht-45-lht-45{height: 45px !important;
 line-height: 45px;}


/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.-pl-10 {
    padding-left: 10px;
}

.-pl-20 {
    padding-left: 20px;
}

.-pl-pr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.-p-10 {
    padding: 10px;
}

.-p-15 {
    padding: 15px;
}

.-pt-pb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*[ margin ]
///////////////////////////////////////////////////////////
*/
.-mt-0 {
    margin-top: 0;
}

.-mt-5 {
    margin-top: 5px;
}

.-mt-10 {
    margin-top: 10px;
}

.-mt-15 {
    margin-top: 15px;
}

.-mr-10 {
    margin-right: 10px;
}

.-mt15-mb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.-mlf-auto {
    margin-left: auto;
}
.-mrt-10 {
    margin-right: 10px;
}


/*[ Flex ] 
///////////////////////////////////////////////////////////
 */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-fd-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*[ text-align ]
///////////////////////////////////////////////////////////
*/
.-txt-lf {
    text-align: left;
}

.-txt-rt {
    text-align: right !important;
}

.-txt-c {
    text-align: center;
}


/*[ table ]
///////////////////////////////////////////////////////////
*/

.tb-layout-auto {
    table-layout: auto;
}

.tb-layout-fix {
    table-layout: fixed;
}

/*[ diplay ]
///////////////////////////////////////////////////////////
*/


.display-block {
    display: block;
}

.display-none {
    display: none;
}

/*[ gap ]
///////////////////////////////////////////////////////////
*/
.-gap-10 {
    gap: 10px;
}


.cursor-not {
    cursor: not-allowed;
    ;
}

/*[ background-color ]
///////////////////////////////////////////////////////////
*/
.bg-dark {
    background-color: #161b26 !important
}

/* +++++++++++++++++++++++++++++ util [e] +++++++++++++++++++++++++++++ */